---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import PostList from "@/components/PostList.astro";

const blogs = (await getCollection("blog")).sort((a, b) => {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---


<BaseLayout title="Blogs">
  <h1 class="font-bold text-3xl theme-text-stress">Blog</h1>

  <p class="mt-4 mb-6 theme-text-minor">共有{blogs.length}篇文章</p>

  <PostList posts={blogs} />
</BaseLayout>