---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import PostList from "@/components/PostList.astro";

interface Props {
  posts: Array<CollectionEntry<"blog">>;
}

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const tags = [...new Set(posts.map(post => post.data.tags || []).flat())];
  return tags.map((tag) => {
    return {
      params: { tag },
      props: {
        posts: posts.filter((post) => post.data.tags?.includes(tag)).sort((a, b) =>  b.data.publishDate.valueOf() - a.data.publishDate.valueOf()),
      },
    }
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout title={`tag:${tag}`}>
  <h1 class="font-bold text-3xl theme-text-stress"># {tag}</h1>

  <p class="mt-4 mb-6 theme-text-minor">Posts tagged with <strong>{tag}</strong></p>

  <PostList posts={posts} />
</BaseLayout>