---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Overview from "@/components/Overview.astro";
import { safeURL } from "@/utils";

const posts = await getCollection("blog");
const tags = [...new Set(posts.map((post) => post.data?.tags || []).flat())];
---

<BaseLayout title="Tags">
  <Overview title="tags" describe={`总计#{${tags.length}}个标签`} />

  <div class="flex flex-wrap gap-4">
    {tags.map((tag) => <a class="layout-a" href={`/tags/${tag}`} transition:name={safeURL(`tag-${tag}`)}># {tag}</a>)}
  </div>
</BaseLayout>