---
import BaseLayout from "@layouts/BaseLayout.astro";
import AnimIcon from "@components/icons/anim.astro"
---

<BaseLayout title="Astro">
	<div class="flex items-center justify-center py-4">
		<AnimIcon width="80px" height="80px" />
	</div>
	<h1 class="font-bold text-3xl my-4 theme-text-stress">Hi I'm Herman Martinus.</h1>
	<h4 class="font-bold text-xl my-4 theme-text-stress">I'm a maker of things, rider of bikes, and hiker of mountains.</h4>
	<p class="theme-text-normal my-4">I'm that guy who's always tinkering with ideas and making stuff. My projects are my metaphorical garden.</p>
	<p class="theme-text-normal my-4">I'm currently working on a no-nonsense blogging platform and site builder and a character posing tool for artists. I keep a list of previous projects and work here.</p>
	<p class="theme-text-normal my-4">I also write. Mostly short-to-mid length essays about tech, life, etc. At some point I’ll write a book. Maybe tomorrow.</p>
	<p class="theme-text-minor my-4"><a href="">Get in touch.</a></p>
</BaseLayout>
