---
import BaseLayout from "@layouts/BaseLayout.astro";
import Overview from "@/components/Overview.astro";
import { getEntry } from "astro:content";

const linkFile = await getEntry("link", "links")
const linkList = linkFile?.data || [];
---

<BaseLayout title="友联" keywords={["link", "友联"]}>
	<Overview title="links" describe={`共计#{${linkList.length}}条link`} />
	<ul>
		{linkList && linkList.length && linkList.map((link) => {
			return <li>{link.name}</li>
		})}
	</ul>
</BaseLayout>
