---
import BaseLayout from "@layouts/BaseLayout.astro";
import Overview from "@/components/Overview.astro";
import links from "../links/links.yml";
---

<BaseLayout title="友联" keywords={["link", "友联"]}>
	<Overview title="links" describe={`共计#{${links.length}}条link`} />
	<ul>
		{links && links.length && links.map((link:any) => {
			return <li>{link.name}</li>
		})}
	</ul>
</BaseLayout>
